CreateStudentProduct-1.0.0/WSDL/CreateStudentProduct-1.0.0.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://com.innovation" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="StudentPolicyCreateJax" targetNamespace="http://com.innovation">
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.innovation" version="1.0">
<xs:element name="OnlinePolicyCreate" type="tns:OnlinePolicyCreate"/>
<xs:element name="OnlinePolicyCreateResponse" type="tns:OnlinePolicyCreateResponse"/>
<xs:element name="WebServiceException" nillable="true" type="tns:faultBean"/>
<xs:complexType name="studentPolicyCreateInDTOJax">
<xs:sequence>
<xs:element minOccurs="0" name="agent" type="xs:int"/>
<xs:element minOccurs="0" name="billplan" type="xs:string"/>
<xs:element minOccurs="0" name="busnessrc" type="xs:string"/>
<xs:element minOccurs="0" name="company" type="xs:short"/>
<xs:element minOccurs="0" name="dcpschool" type="xs:string"/>
<xs:element minOccurs="0" name="dentalschool" type="xs:string"/>
<xs:element minOccurs="0" name="duedate" type="xs:string"/>
<xs:element minOccurs="0" name="effectdte" type="xs:string"/>
<xs:element minOccurs="0" name="extpolno" type="xs:string"/>
<xs:element minOccurs="0" name="internshipInd" type="xs:string"/>
<xs:element minOccurs="0" name="liaisonmanager" type="xs:string"/>
<xs:element minOccurs="0" name="mduNumber" type="xs:string"/>
<xs:element minOccurs="0" name="medicalschool" type="xs:string"/>
<xs:element minOccurs="0" name="product" type="xs:string"/>
<xs:element minOccurs="0" name="segment" type="xs:string"/>
<xs:element minOccurs="0" name="subcoy" type="xs:short"/>
<xs:element minOccurs="0" name="subsegment" type="xs:string"/>
<xs:element minOccurs="0" name="userLang" type="xs:string"/>
<xs:element minOccurs="0" name="userid" type="xs:string"/>
<xs:element minOccurs="0" name="client" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="studentPolicyCreateOutDTOJax">
<xs:sequence>
<xs:element minOccurs="0" name="policy" type="xs:string"/>
<xs:element minOccurs="0" name="product" type="xs:string"/>
<xs:element minOccurs="0" name="productnumber" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="reasons" nillable="true" type="tns:jaxReason"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="jaxReason">
<xs:sequence>
<xs:element minOccurs="0" name="debugString" type="xs:string"/>
<xs:element minOccurs="0" name="params" type="xs:string"/>
<xs:element name="reasonCode" type="xs:int"/>
<xs:element minOccurs="0" name="reasonType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OnlinePolicyCreate">
<xs:sequence>
<xs:element minOccurs="0" name="header" type="tns:serviceHeaderExternal"/>
<xs:element minOccurs="0" name="platformId" type="xs:string"/>
<xs:element minOccurs="0" name="sessionEGUID" type="xs:string"/>
<xs:element minOccurs="0" name="inDTO" type="tns:studentPolicyCreateInDTOJax"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="serviceHeaderExternal">
<xs:sequence>
<xs:element minOccurs="0" name="securityToken" type="xs:string"/>
<xs:element minOccurs="0" name="username" type="xs:string"/>
<xs:element minOccurs="0" name="locale" type="xs:string"/>
<xs:element minOccurs="0" name="schemeManagerKey" type="xs:string"/>
<xs:element minOccurs="0" name="schemeManagerTimeZone" type="xs:string"/>
<xs:element minOccurs="0" name="hierarchy" type="xs:string"/>
<xs:element minOccurs="0" name="dynamicContent" type="xs:string"/>
<xs:element minOccurs="0" name="datastore" type="xs:string"/>
<xs:element minOccurs="0" name="sessionID" type="xs:string"/>
<xs:element minOccurs="0" name="dateFormat" type="xs:string"/>
<xs:element minOccurs="0" name="parentRef" type="xs:string"/>
<xs:element minOccurs="0" name="parentRefTypeCode" type="xs:string"/>
<xs:element minOccurs="0" name="currentFeatureType" type="xs:string"/>
<xs:element minOccurs="0" name="currentFeatureID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OnlinePolicyCreateResponse">
<xs:sequence>
<xs:element minOccurs="0" name="StudentPolicyCreateOut" type="tns:studentPolicyCreateOutDTOJax"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="faultBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="faultTypes" nillable="true" type="tns:faultType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="faultType">
<xs:sequence>
<xs:element minOccurs="0" name="faultMessage" type="xs:string"/>
<xs:element minOccurs="0" name="faultSeverity" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </types>
  <message name="OnlinePolicyCreateResponse">
    <part name="parameters" element="tns:OnlinePolicyCreateResponse">
    </part>
  </message>
  <message name="WebServiceException">
    <part name="fault" element="tns:WebServiceException">
    </part>
  </message>
  <message name="OnlinePolicyCreate">
    <part name="parameters" element="tns:OnlinePolicyCreate">
    </part>
  </message>
  <portType name="StudentPolicyCreateJax">
    <operation name="OnlinePolicyCreate">
      <input message="tns:OnlinePolicyCreate" wsam:Action="http://com.innovation/StudentPolicyCreateJax/OnlinePolicyCreateRequest">
    </input>
      <output message="tns:OnlinePolicyCreateResponse" wsam:Action="http://com.innovation/StudentPolicyCreateJax/OnlinePolicyCreateResponse">
    </output>
      <fault name="WebServiceException" message="tns:WebServiceException" wsam:Action="http://com.innovation/StudentPolicyCreateJax/OnlinePolicyCreate/Fault/WebServiceException">
    </fault>
    </operation>
  </portType>
  <binding name="StudentPolicyCreatePortBinding" type="tns:StudentPolicyCreateJax">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="OnlinePolicyCreate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WebServiceException">
        <soap:fault name="WebServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="StudentPolicyCreateJax">
    <port name="StudentPolicyCreatePort" binding="tns:StudentPolicyCreatePortBinding">
      <soap:address location="http://192.168.6.130:8280/create_student_product/1.0.0"/>
    </port>
  </service>
</definitions>